---
// src/pages/index.astro
---

<html>
  <head>
    <title>Redirecting...</title>
    <script>
      window.location.replace("/home");
    </script>
    <noscript>
      <meta http-equiv="refresh" content="0; url=/home" />
    </noscript>
  </head>
  <body> </body>
</html>
