---
// src/pages/index.astro
---

<html>
  <head>
    <title>Redirecting...</title>
    <script>
      window.location.replace("/my-portfolio");
    </script>
    <noscript>
      <meta http-equiv="refresh" content="0; url=/my-portfolio" />
    </noscript>
  </head>
  <body>
    <p>Redirecting to <a href="/my-portfolio">/my-portfolio</a></p>
  </body>
</html>
