.bioSection {
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(
    180deg,
    var(--color-feature_end) 0%,
    var(--color-feature_end) 10%,
    var(--color-background) 25%,
    var(--color-background) 100%
  );
  font-family: var(--font-body);
  color: var(--color-text);
  padding: 3rem 1rem;
  box-sizing: border-box;
}

.bioSectionWrapper {
  width: 720px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media (max-width: 768px) {
  .bioSectionWrapper {
    width: 100%;
  }
}

